<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Messagerie</title>
    
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="css.css"> -->
	<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
	<script>
		$(document).ready(function(){
			$('.menu .item').tab();
			$("body").css("background-color", "#4d4d4d");
			$("h1").css("color", "white");
			$("p").css("color", "#cccccc");
			$("label").css("color", "#cccccc");
		});
	</script>
</head>
<body>
<div class="ui container">