{{> include/header}}
{{#organization}}

<h1>Organization : {{name}}</h1>

<div>
	<button class="ui icon inverted green button"  onclick="window.location='/orga/new';"><i class="plus icon"></i></button>
	<button class="ui icon inverted blue button"  onclick="window.location='/orga/edit/{{id}}';;"><i class="pen icon"></i></button>
	<button class="ui icon inverted red button" onclick="confirmDelete('{{name}}','{{id}}');"><i class="close icon"></i></button>
</div>

<table class="ui inverted celled fixed table">
	<tbody>
		<tr>
			<td class="black">Id</td>
			<td>{{id}}</td>
		</tr>
		<tr>
			<td class="black">Name</td>
			<td>{{name}}</td>
		</tr>
		<tr>
			<td class="black">Domain</td>
			<td>{{#domain}}{{.}}{{/domain}}</td>
		</tr>
		<tr>
			<td class="black">Aliases</td>
			<td>{{#aliases}}{{.}}{{/aliases}}</td>
		</tr>
		<tr>
			<td class="black">Groups</td>
			<td>{{#groupes}}{{.}}{{/groupes}}</td>
		</tr>
		<tr>
			<td class="black">Organizationsettings</td>
			<td>{{#organizationsettings}}{{.}}{{/organizationsettings}}</td>
		</tr>
		<tr>
			<td class="black">Users</td>
			<td>{{#users}}{{.}}{{/users}}</td>
		</tr>
	</tbody>
</table>

<button style="width:10em;margin-bottom:2em;" class="ui inverted blue button" onclick="goBackButton();"><i class="arrow left icon"></i>Go back</button>

<div style="display:none; width:60vh;" id="messageConfirmDelete">
	<div class="ui icon red message">
		<i class="close icon" onclick="hideConfirm()"></i>
		<i class="dizzy outline icon"></i>
		<div class="content">
			<div class="header">Are you sure ?</div>
			<p>Are you sure you want to delete <b id="name">'?</b></p>
			<div class="end">
				<button onclick="hideConfirm()" class="ui inverted secondary button"><i class="circle outline icon"></i>No</button>
				<button id="confirmDeletingButton" class="ui inverted red button"><i class="check circle icon"></i>Yes</button>
			</div>
		</div>
	</div>
</div>

{{/organization}}
{{> include/footer}}