{{> include/header}}
<h1 style="padding:1em;"><i class="broadcast tower icon"></i>SpringBoot TD2 :</h1>

<table class="ui inverted fixed table">
	<thead>
		<tr><th>Id</th>
		<th>Name</th>
		<th>Domain</th>
		<th>Aliases</th>
		</tr>
	</thead>
	<tbody>
	{{#organizations}}
	<tr>
		<td data-label="Id">{{id}}</td>
		<td data-label="Name">{{name}}</td>
		<td data-label="Domain">{{#domain}}{{.}}{{/domain}}</td>
		<td class="flex" data-label="Aliases"><div>{{#aliases}}{{.}}{{/aliases}}</div>
			<div class="end">
				<button class="circular ui small icon inverted button"  onclick="window.location='/orga/display/{{id}}';"><i class="hand point up outline icon"></i></button>
				<button class="circular ui small icon inverted blue button"  onclick="window.location='/orga/edit/{{id}}';;"><i class="pen icon"></i></button>
				<button class="circular ui small icon inverted red button" onclick="confirmDelete('{{name}}','{{id}}');"><i class="close icon"></i></button>
			</div>
		</td>
	</tr>
	{{/organizations}}
	</tbody> 
	<tfoot class="full-width">
		<tr>
			<th>
				<form action="/orga/">
					<div class="ui icon input">
						<i class="search icon"></i> <input class="search" type="text" placeholder="Search" name="keyword">
					</div>
				</form>
			</th>
			<th colspan="3">
				<button class="ui inverted green right floated button"  onclick="window.location='/orga/new';"><i class="plus icon"></i>New organization</button>
			</th>
		</tr>
	</tfoot>
</table>
<div style="display:none; width:60vh;" id="messageConfirmDelete">
	<div class="ui icon negative message">
		<i class="close icon" onclick="hideConfirm()"></i>
		<i class="dizzy outline icon"></i>
		<div class="content">
			<div class="header">Are you sure ?</div>
			<p>Are you sure you want to delete <b id="name">'?</b></p>
			<div class="end">
				<button onclick="hideConfirm()" class="ui button"><i class="circle outline icon"></i>No</button>
				<button id="confirmDeletingButton" class="ui red button"><i class="check circle icon"></i>Yes</button>
			</div>
		</div>
	</div>
</div>
{{> include/footer}}