{{> include/header}}

<h1>Ajout d'une organisation :</h1>
<form class="ui small inverted column centered form" method="post" action="/orga/addNew/">
	<div class="two fields">
		<div class="three wide field">
			<label>Name :</label>
			<input type="text" name="name" placeholder="Name" required>
		</div>
		<div class="two wide field">
			<label>Domain :</label>
			<input type="text" name="domain" placeholder="Domain">
		</div>
	</div>
	<div class="five wide field">
		<label>Aliases :</label>
		<input type="text" name="aliases" placeholder="Aliases">
	</div>
	<div class="five wide field">
		<label>Organization settings :</label>
		<input type="text" name="organizationsettings" placeholder="Organization settings">
	</div>
	<button class="ui inverted green button" type="submit"><i class="plus icon"></i>Submit</button>
  	<button class="ui inverted red button" type="reset"><i class="undo icon"></i>Cancel</button>
</form><br>

<button style="width:10em;" class="ui inverted blue button" onclick="window.location='/orga/';"><i class="arrow left icon"></i>Go back</button>

{{> include/footer}}